* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  padding-top:70px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*image size*/
.imgclass{
  height:500px;
  width:1000px;
}

/* Position the "next button" to the right */
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: crimson;
}

/* Caption text */
.text {
  font-family: 'Montserrat', sans-serif;
  color: crimson;
  font-size: 25px;
  padding: 8px 12px;
  width: 100%;
  top: 100px;
  text-align: center;
}
/*Description Text*/
.description {
  padding-top:20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  line-height:30px;
  text-align: justify;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*saperation*/